.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 605px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-weight: 500;
  animation-duration: 1000ms;
  margin: 60px auto 0 54px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-family: Poppins;
  animation-duration: 1000ms;
  margin: 24px auto 0 54px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-family: Poppins;
  animation-duration: 1000ms;
  margin: 6px 894px 0 54px;
}

.u-section-1 .u-social-icons-1 {
  height: 29px;
  min-height: 16px;
  width: 144px;
  min-width: 94px;
  white-space: nowrap;
  animation-duration: 1000ms;
  margin: 24px auto 60px 54px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 45px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 45px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 703px;
    margin-left: 45px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 34px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 34px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 494px;
    margin-left: 34px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 26px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 26px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 322px;
    margin-left: 26px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 16px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 132px;
    margin-left: 16px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 16px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 436px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 100px auto 100px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 236px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 236px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 149px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 149px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 186px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 279px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 176px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 734px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-family: Poppins;
  margin: 84px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 600;
  margin: 9px auto 0 369px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  font-family: Poppins;
  margin: 21px 252px 60px;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: 411px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    width: 635px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 418px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 17px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 13px;
    margin-right: 13px;
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 13px;
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-text-1 {
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 600;
  margin: 76px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: Poppins;
  margin: 7px auto 0 285px;
}

.u-section-4 .u-shape-1 {
  width: 570px;
  height: 18px;
  margin: 1px auto 0;
}

.u-section-4 .u-shape-2 {
  width: 475px;
  height: 18px;
  animation-duration: 1000ms;
  margin: -18px auto 0 285px;
}

.u-section-4 .u-text-3 {
  font-family: Poppins;
  margin: 15px auto 0 285px;
}

.u-section-4 .u-shape-3 {
  width: 570px;
  height: 18px;
  margin: 3px auto 0;
}

.u-section-4 .u-shape-4 {
  width: 208px;
  height: 18px;
  animation-duration: 1000ms;
  margin: -18px auto 0 285px;
}

.u-section-4 .u-text-4 {
  font-family: Poppins;
  margin: 15px auto 0 285px;
}

.u-section-4 .u-shape-5 {
  width: 570px;
  height: 18px;
  margin: 0 auto;
}

.u-section-4 .u-shape-6 {
  width: 285px;
  height: 18px;
  animation-duration: 1000ms;
  margin: -18px auto 0 285px;
}

.u-section-4 .u-text-5 {
  font-family: Poppins;
  margin: 20px auto 0 285px;
}

.u-section-4 .u-shape-7 {
  width: 570px;
  height: 18px;
  margin: 0 auto;
}

.u-section-4 .u-shape-8 {
  width: 423px;
  height: 18px;
  animation-duration: 1000ms;
  margin: -18px auto 60px 285px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: -326px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -29px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 37px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: -22px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -42px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: 27px;
  }

  .u-section-4 .u-shape-4 {
    margin-top: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 7px;
  }

  .u-section-4 .u-shape-5 {
    margin-top: -355px;
  }

  .u-section-4 .u-shape-6 {
    margin-top: 320px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -396px;
    margin-left: 235px;
  }

  .u-section-4 .u-shape-7 {
    margin-top: 68px;
  }

  .u-section-4 .u-shape-8 {
    margin-top: 328px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-2 {
    margin-left: 245px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 245px;
  }

  .u-section-4 .u-shape-5 {
    margin-left: 150px;
  }

  .u-section-4 .u-shape-6 {
    margin-left: 245px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 180px;
  }

  .u-section-4 .u-shape-7 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-left: 117px;
  }

  .u-section-4 .u-shape-1 {
    width: 540px;
  }

  .u-section-4 .u-shape-2 {
    margin-left: 65px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 65px;
  }

  .u-section-4 .u-shape-3 {
    width: 540px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 255px;
  }

  .u-section-4 .u-shape-5 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-6 {
    margin-left: 65px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 135px;
  }

  .u-section-4 .u-shape-7 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-8 {
    margin-left: 117px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-shape-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-shape-3 {
    width: 340px;
  }

  .u-section-4 .u-shape-4 {
    margin-left: 132px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 55px;
  }

  .u-section-4 .u-shape-5 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-4 .u-shape-6 {
    margin-left: 55px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 85px;
  }

  .u-section-4 .u-shape-7 {
    width: 340px;
  }

  .u-section-4 .u-shape-8 {
    width: 340px;
    margin-left: 0;
  }
}
